*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */

nav{
    background-color: #262525;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    width: 100%;
    height: 75px;
    top: 0%;
    font-size: larger;
    padding: 10px;
    position: fixed;
    /* z-index: 1000; */
    text-transform: uppercase;
}

.arpit{
    font-size: 35px;
    letter-spacing: 2px;
}

.links{
    display: flex;
    list-style: none;
    gap: 1em;
    font-size: 1rem;
}

.links a{
    color: white;
    text-decoration: none;
    position: relative;
}



.Contact-me{
    padding: 10px 30px;
    color: black;
    margin-left: 8px;
    border-radius: 20px;
    font-size:large;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.Contact-me:hover{
    color: white;
    border: 2px solid rgb(166, 71, 255);
    background: transparent;
}


/* SECTION - 1*/
.main-section1{
    /* background-color: yellow; */
    height:100vh;
    width: 100%;
    display: flex;
}

.left-container{
    background-color: #262525;
    width: 70%;
    display: flex;
    align-items: center;

}

.right-container{
    background:linear-gradient(-45deg, #3877FF, #262525 70%);
    width: 30%;
}

.left-container{
    color: white;
    padding-left: 3rem;
}

.contant-left{
    color: white;
    font-size: 25px;
}

.icon .fa-brands{
    color: #bbb;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    gap: 3rem;
}

.contant-left{
    margin-left: 4rem;

    
}

.lorem-left{
    font-size: 1.1rem;
    max-width: 30rem;
    margin: 1.1rem 0 2rem 0;
    line-height: 1.8rem;
}

.hey{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    word-spacing: 0.5rem;
}

span{
    color:#5DB9EE;
}

.web-deleloper{
    font-size: 4rem;
    color: #5DB9EE;
    margin-top: 1rem;
}

.button-left button{
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

button:nth-child(1){
    background: #5DB9EE;
    color: #262525;
}

button:nth-child(2){
    background: transparent;
    color: #5DB9EE;
    margin-left: 2rem;
}

button:nth-child(1):hover{
    background: transparent;
    color: #5DB9EE;
}

button:nth-child(2):hover{
    background: #5DB9EE;
    color: #262525;
}

/* CRICLE */

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1){
    width: 25rem;
    background: linear-gradient(90deg, transparent 50%,#262525 50%);
}

.circle:nth-child(2){
    background-image: url("./images/arpit.jpg");
    background-position: center;
    background-size: cover;
    width: 20rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 3rem solid white;
    box-shadow: 
    0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem #3877FF;
}

.links li a::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height:.1rem; 
    left: 0; 
    bottom: -5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: bottom right;
}

.links a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
