.p1{
    font: 500;
}

.p4{
      font-family: "Josefin Sans", sans-serif;
      font-weight: normal;
      font-style: normal;
    }

.p5{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}